@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@import "tailwindcss";


*{
  font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;


}   

@theme{
    --color-primary: #4fbf8b;
    --color-primary-dull: #44ae7c 
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}